.Footer {
  background: #0b0d17;
  height: 15rem;
  width: 100%;
  margin-top: 10rem;
}
.Footer > .section {
  height: 100%;
}
.Footer > .section > div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Footer > .section > div > h2 {
  color: #5b5b5b;
  font-size: 30px;
  font-weight: 800;
}
.Footer > .section > div > h2 > span {
  color: #f58522;
}
.Footer > .section > div > p {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}
